[submodule "vendor/imgui-ctr"]
	path = vendor/imgui-ctr
	url = https://github.com/npid7/imgui-impl-ctr.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/mclib"]
	path = vendor/mclib
	url = https://github.com/SomeRandoLameo/mclib-3ds.git
[submodule "romfs"]
	path = romfs
	url = https://github.com/Moddimation/Re-Craft-3DS-Data
