ReCraft3DS.smdh
ReCraft3DS.3dsx
ReCraft3DS.elf
ReCraft3DS.lst
build/*
/.idea/*
/ServerPing.pcapng
/ServerCom.pcapng
/world/playerdata/*
/world/advancements/*
/world/*
/logs/*
/banned-ips.json
/banned-players.json
/eula.txt
/logs/latest.log
/world/level.dat
/world/level.dat_old
/ops.json
/world/region/*
/Re-Craft-3DS.3dsx
/Re-Craft-3DS.elf
/Re-Craft-3DS.smdh
/server.jar
/server.properties
/usercache.json
/world/
/whitelist.json
/crash-reports/*

/server/logs/*
/server/banned-ips.json
/server/crash-reports/*
/server/banned-players.json
/server/eula.txt
/server/world/*
/server/ops.json
/server/server.jar
/server/usercache.json
/server/whitelist.json
.vscode