*.smdh
*.3dsx
*.elf
*.lst

build/*
.idea/*
.vscode
.lite_project.lua

/banned-ips.json
/banned-players.json
/crash-reports/*
/eula.txt
/logs/*
/logs/latest.log
/ops.json
/server.jar
/server.properties
/ServerCom.pcapng
/ServerPing.pcapng
/usercache.json
/whitelist.json
/world/
/world/*
/world/advancements/*
/world/level.dat
/world/level.dat_old
/world/playerdata/*
/world/region/*

/server/banned-ips.json
/server/banned-players.json
/server/crash-reports/*
/server/eula.txt
/server/logs/*
/server/ops.json
/server/server.jar
/server/usercache.json
/server/whitelist.json
/server/world/*
