name: build

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup cmake
        run: |
          curl -LO https://github.com/Kitware/CMake/releases/download/v4.0.0/cmake-4.0.0-linux-x86_64.sh
          chmod +x cmake-4.0.0-linux-x86_64.sh
          ./cmake-4.0.0-linux-x86_64.sh --skip-license --prefix=/usr/local

      - name: Build
        run: |
          git config --global --add safe.directory /__w/Re-Craft-3DS/Re-Craft-3DS
          cmake -B build -DCMAKE_TOOLCHAIN_FILE=/opt/devkitpro/cmake/3DS.cmake
          cmake --build build --target Re-Craft-3DS_3dsx --parallel $(nproc)
