name: build

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup cmake
        run: |
          curl -LO https://github.com/Kitware/CMake/releases/download/v4.0.0/cmake-4.0.0-linux-x86_64.sh
          chmod +x cmake-4.0.0-linux-x86_64.sh
          ./cmake-4.0.0-linux-x86_64.sh --skip-license --prefix=/usr/local
      - name: Restore Buildtools
        id: cache-tools
        uses: actions/cache@v5
        with:
          path: priv
          key: buildtools

      - name: Setup Buildtools
        if: steps.cache-tools.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv && cd priv
          git clone https://github.com/3DSGuy/Project_CTR.git
          cd Project_CTR/makerom && make deps && make
          cp bin/makerom ../../ && cd ../../
          curl -LO https://github.com/Epicpkmn11/bannertool/releases/download/v1.2.2/bannertool.zip
          unzip bannertool.zip
          mv linux-x86_64/bannertool . && rm -rf */
          chmod +x makerom bannertool
          rm -rf *.zip
          ls
      - name: Build
        run: |
          export PATH="$(pwd)/priv:$PATH"
          git config --global --add safe.directory "$(pwd)"
          cmake -B build -DCMAKE_TOOLCHAIN_FILE=/opt/devkitpro/cmake/3DS.cmake
          cmake --build build --target make_cia --parallel $(nproc)
      - name: Upload
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Re-Craft-3DS
          path: build/*.cia build/*.3dsx build/*.elf

      - name: Calc Statistics
        if: always()
        shell: bash
        run: |
          echo "### Build Statistics" >> "$GITHUB_STEP_SUMMARY"
          echo "" >> "$GITHUB_STEP_SUMMARY"
          for dir in source include vendor/*; do
            [ -d "$dir" ] || continue
            
            files=$(find "$dir" -type f \( -name '*.c*' -o -name '*.h*' \) ! -iname "*.clang*" ! -iname "*.csv" 2>/dev/null)
            [ -z "$files" ] && continue
            
            total_lines=$(echo "$files" | xargs wc -l | tail -n1 | awk '{print $1}')
            
            ext_counts=$(echo "$files" | rev | cut -d. -f1 | rev | sort | uniq -c | awk '{print $1 " ." $2}' | paste -sd, - | sed 's/,/, /g')
            echo "$dir: $total_lines lines - $ext_counts" >> "$GITHUB_STEP_SUMMARY"
          done
